<div class="container">
   <div class="row">
    <div class="card text-center mt-5">
      <div class="card-header">
        <h3> Avis </h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Fred</h5>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <p class="card-text">Zoo très agréable, ma fille a adoré</p>
        <br>
        <h5 class="card-title">Emilie</h5>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <i class="bi bi-star-fill"></i>
        <p class="card-text">Mes enfants ont adoré, on reviendra</p>
        <a href="#" class="btn btn-primary">Laisser nous votre avis</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    <div class="card text-center mt-5">
      <div class="card-header">
        <h3> Contact </h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">Zoo ARCADIA</h5>
        <p class="card-text">70 Route des fleuves 35380 Paimpont </p>
        <a href="#" class="btn btn-primary">Contactez-nous</a>
      </div>
    </div>

   </div>
</div>

