<div class="container">
  <div class="row">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="text-white">Fred</mat-card-title>
        <mat-card-subtitle class="text-white">Le dauphin</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1570481662006-a3a1374699e8?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Photo of a dolphin"
      />
      <mat-card-content class="text-white">
      </mat-card-content>
      <mat-card-actions>
        <button  mat-fab class="like">LIKE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="text-white">Gaspard</mat-card-title>
        <mat-card-subtitle class="text-white">Le lion</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1496368047060-2225dc0a96b4?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Photo of a Lion"
      />
      <mat-card-content class="text-white">
      </mat-card-content>
      <mat-card-actions>
        <button  mat-fab class="like">LIKE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="text-white">Coco</mat-card-title>
        <mat-card-subtitle class="text-white">Le zébre</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://images.unsplash.com/photo-1526095179574-86e545346ae6?q=80&w=2067&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Photo of a zébre"
      />
      <mat-card-content class="text-white">
      </mat-card-content>
      <mat-card-actions>
        <button  mat-fab class="like">LIKE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

