.example-card {
  max-width: 400px;
  margin-left: 6px;
  background-color: rgb(6, 153, 50);
}


.example-header-image {
  background-size: cover;
}

.mat-button {
  background-color: aquamarine;
}

.like {
  color: white;
  background: blue;
}
