<div class="container">
   <div class="row ">
       <h2 class="font-weight-bold text-center pt-4"> Conditions générales du site Zoo ARCADIA </h2>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>



       <p> Date de mise à jour: 10/05/2023 </p>
       <br>
       <br>
         <h4> PRIERE DE LIRE LES CONDITIONS GENERALES AVANT D'UTILISER LE SITE </h4>
       <br>
       <br>
       <br>
       <p> Les présentes conditions générales d'utilisation (dites "CGU") ont pour objet l'encadrement
          juridique de modalités de mise à disposition du site et des services par Zoo ARCADIA et de
          définir les conditions d'accés et d'utilisation des services par "l'Utilisateur".
          <br>
          <br>
          Les présentes CGU sont accessibles sur le site à la rubrique "CGU".
        </p>
          <br>
          <br>
          <br>
          <h5> ARTICLE 1 : LES MOTIONS LEGALES </h5>
          <br>
          <br>
          <br>
          <p> L'édition du site Zoo ARCADIA est assurée par la Société DevSoft au capital
              de 200 000 euros, immatriculée au RCS de PARIS sous le numéro 1232564466REZT6
              dont le siège social est situé à PARIS, numero de téléphone 0124512342
              , adresse e-mail: ....
            <br>
            <br>
            N° de TVA intracommunautaire: 132154566
            <br>
            <br>
            Le Directeur de la publicationest Mr BlaBla
            <br>
            <br>
            L'hébergeur du site ... est la société ..., dont le siège social est situé à Nantes,
            avec le numero de téléphone : 0235641289
            </p>
            <br>
            <br>
            <br>
            <br>
            <h5> ARTICLE 2 : ACCES AU SITE</h5>
            <br>
            <br>
            <br>
            <p mb-5> Le site Zoo ARCADIA permet à l'Utilisateur un accés gratuit aux services suivants:
              Le site internet propose les services suivants:
              <br>
              <br>
                   <li> Navigation sur site </li>
                   <br>
                   <li> "Possibilité d'achat" </li>
                   <br>
                   <br>
                   <br>
            </p>
   </div>
</div>
