<nav class="navbar navbar-expand-sm navbar-dark featured-section">
  <div class="container-fluid">
    <a class="navbar-brand title" routerLink="/home">Zoo ARCADIA</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/service">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/habitats-an">
            Habitats et Animaux
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text" routerLink="/choixanimaux">
            Veux tu choisir ton animal préféré?
          </a>
        </li>
      </ul>
      <a
        class="btn btn-warning text-black"
        type="button"
        routerLink="/login"
      >
        Login Pro
    </a>
    </div>
  </div>
</nav>
