.navbar {
  margin: auto;
}

.text-color {
   color: var(--tertiairy-color);
   font-size: 14px;
}

a.text {
  text-decoration: none;
  color: white;
}

a.text:hover {
  text-decoration: underline;
}
