<div class="row">
    <div class="col-md-11">
      <form action="index.html" method="post">
        <h1> Sign Up </h1>

        <fieldset>

          <label for="name">Name:</label>
          <input type="text" id="name" name="user_name">

          <label for="email">Email:</label>
          <input type="email" id="mail" name="user_email">

          <label for="password">Password:</label>
          <input type="password" id="password"       name="user_password">

        </fieldset>
        <fieldset>

         <label>Compte:</label>
         <input type="checkbox" id="development" value="interest_development" name="user_interest"><label class="light" for="development">Administrateur</label><br>
         <input type="checkbox" id="design" value="interest_design" name="user_interest"><label class="light" for="design">Vétérinaire</label><br>
         <input type="checkbox" id="business" value="interest_business" name="user_interest"><label class="light" for="business">Employé</label>

         </fieldset>

        <button type="submit">Sign Up</button>
        <button routerLink="/login">Vous avez déjà un compte</button>

       </form>
        </div>
      </div>
