<div class="hero-scene4 text-center text-white">
  <div class="hero-scene4-content">
    <h1>Les habitats et les animaux</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-label="Slide 4"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col">
                <img
                  src="/mer.jpeg"
                  class="d-block w-100"
                  style="height: 600px"
                  alt="Mer"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-dark">Les animaux marins</h5>
                  <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/dolphins.jpg"
                            class="card-img-top"
                            alt="Dolphins"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">Le Dauphin</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                        <p mt-4>Cliquer pour voir l'environnement marin:</p>
                        <a
                        target="_blank" href="https://www.nationalgeographic.fr/perpetual-planet/2018/02/les-oceans-plus-grand-habitat-naturel-de-notre-planete"
                          type="button"
                          class="btn btn-primary">Mer</a>
                      </div>
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/orque.jpg"
                            class="card-img-top"
                            alt="Guide"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">L'Orque</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col">
                <img
                  src="/jungle.jpeg"
                  class="d-block w-100"
                  style="height: 600px"
                  alt="Mer"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Les animaux de la jungle</h5>
                  <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/deux-perroquets-17262678.webp"
                            class="card-img-top"
                            alt="Perroquets"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">Le Perroquet</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                        <p mt-4>Cliquer pour voir l'environnement de la jungle:</p>
                        <a target="_blank" href="https://www.conservation-nature.fr/ecosysteme/jungle/" type="button" class="btn btn-primary">La
                          jungle</a>
                      </div>
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/lemuriens.jpg"
                            class="card-img-top"
                            alt="Lemurien"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">Le Limurien</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col">
                <img
                  src="/savane.jpeg"
                  class="d-block w-100"
                  style="height: 600px"
                  alt="Mer"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-dark">Les animaux de la savane</h5>
                  <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/elephants.jpg"
                            class="card-img-top"
                            alt="Eléphant"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">L'éléphant</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                        <p mt-4>Cliquer pour voir l'environnement de la savane:</p>
                        <a target="_blank" href="https://www.conservation-nature.fr/ecosysteme/savane/" type="button" class="btn btn-dark">La savane</a>
                      </div>
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/le-zebre-et-l-elephant-sur-fond-bleu.jpg"
                            class="card-img-top"
                            alt="Zébre"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">Le zébre</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col">
                <img
                  src="/marais.jpeg"
                  class="d-block w-100"
                  style="height: 600px"
                  alt="Mer"
                />
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="text-dark">Les animaux des marais</h5>
                  <div class="container">
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/Crocodile.jpg"
                            class="card-img-top"
                            alt="Crocodile"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">Le Crocodile</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                        <p mt-4>Cliquer pour voir l'environnement des marais:</p>
                        <a target="_blank" href="https://www.renovablesverdes.com/fr/marais/" type="button" class="btn btn-dark">Marais</a>
                      </div>
                      <div class="col">
                        <div class="card featured-section">
                          <img
                            src="/hippopotamus-95472_1280.jpg"
                            class="card-img-top"
                            alt="Hippotamus"
                          />
                          <div class="card-body">
                            <h5 class="card-title text-white">L'hippopotame</h5>
                            <p class="card-text text-white"></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
