<article class="hero-scene3">
  <div class="container hero-scene3-content">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card featured-section">
          <img src="/restaurant.jpg" class="card-img-top" alt="Restaurant" />
          <div class="card-body">
            <h5 class="card-title text-white">Le Restaurant</h5>
            <p class="card-text text-white">
              Fast-foods pour familles, voyageurs et les curieux est situé dans
              le Parc Zoologique. Voici ce que vous pouvez y découvrir :<br />
              <br />
              Cuisine traditionnelle française :<br />Les recettes phares sont
              revisitées et privilégient les produits de saison et locaux. Les
              entrées et desserts sont dressés dans des verrines, et les plats
              sont servis dans des cocottes.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card featured-section">
          <img src="/guide.jpg" class="card-img-top" alt="Guide" />
          <div class="card-body">
            <h5 class="card-title text-white">Visite avec un guide</h5>
            <p class="card-text text-white">
              Le guide est votre compagnon idéal pour explorer les merveilles de
              notre royaume animal.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card featured-section">
          <img
            src="/petit train.jpg"
            class="card-img-top"
            alt="Le petit train"
          />
          <div class="card-body">
            <h5 class="card-title text-white">Visite en petit train</h5>
            <p class="card-text text-white">
              Imaginez une visite pittoresque du Zoo Enchanté à bord d’un petit
              train qui serpente à travers les divers habitats naturels, offrant
              une expérience immersive et éducative pour tous les âges.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
