<app-header></app-header>

<section>
  <article class="hero-scene2">
     <div class="container hero-scene2-content">
        <div class="row">
          <div class="col">
            <img class="rounded w-50" src="/elephants.jpg" >
          </div>
          <div class="col-sm text-center text-justify text-white">
             <p>Chers Visiteurs <br/>
             Nous sommes ravis de vous accueillir dans le zoo magique ARCADIA
             un lieu où la nature et l'imagination se rencontre. Préparez vous à vivre une aventure inoubliable parmis nos résidents.<br/>
             <br/>
             Nos services:<br/>
             Restauration<br/>
             Visites des habitats avec un guide gratuit<br/>
             Visite du zoo en petit train<br/></p>
            </div>
            <div class="col">
             <img class="rounded w-50" src="/zebres.jpg">
            </div>
        </div>
     </div>
  </article>
 </section>
